@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
a {
    text-decoration: none !important;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none !important;
}

.App,
.body {
    display: flex;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    z-index: 111111;
}

::-webkit-input-placeholder {
    /* Edge */
    color: #757688;
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #757688;
}

 ::placeholder {
    color: #757688;
}

.sidebar_ {
    width: 284px;
    height: 100vh;
    left: 0px;
    top: 0px;
    background: #F2F2F7;
    padding: 31px 60px;
    font-family: 'Inter', sans-serif;
}

.sidebar_ .logo {
    height: 42px;
    width: 42px;
    background: url("./icons/kfc.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.sidebar_ .title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    color: #353535;
    margin: 12px 0;
}

.sidebar_ .side-nav-item {
    font-family: 'Inter', sans-serif;
    ;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    color: #353535;
    margin-top: 25px;
    cursor: pointer;
    display: flex;
}

.sidebar_ .side-nav-item:active,
.sidebar_ .side-nav-item:hover,
.sidebar_ .side-nav-item.active .text {
    color: #C76400 !important;
}

.sidebar_ .side-nav-item .icon {
    width: 14px;
    height: 14px;
    margin-right: 9.33px;
    margin-top: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.sidebar_ .side-nav-item .icon.dashboard {
    background: url("./icons/dashboard.svg");
}

.sidebar_ .side-nav-item .icon.revenue {
    background: url("./icons/revenue.svg");
}

.sidebar_ .side-nav-item .icon.rewards {
    background: url("./icons/rewards.svg");
}

.sidebar_ .side-nav-item .icon.products {
    background: url("./icons/products.svg");
}

.sidebar_ .side-nav-item .icon.customers {
    background: url("./icons/customers.svg");
}

.sidebar_ .side-nav-item .icon.stores {
    background: url("./icons/stores.svg");
}

.sidebar_ .side-nav-item .icon.account {
    background: url("./icons/account.svg");
}

.sidebar_ .side-nav-item:hover .icon.dashboard,
.sidebar_ .side-nav-item.active .icon.dashboard {
    background: url("./icons/dashboard_hover.svg");
}

.sidebar_ .side-nav-item:hover .icon.rewards,
.sidebar_ .side-nav-item.active .icon.rewards {
    background: url("./icons/rewards_hover.svg");
}

.sidebar_ .side-nav-item:hover .icon.revenue,
.sidebar_ .side-nav-item.active .icon.revenue {
    background: url("./icons/revenue_hover.svg");
}

.sidebar_ .side-nav-item:hover .icon.products,
.sidebar_ .side-nav-item.active .icon.products {
    background: url("./icons/products_hover.svg");
}

.sidebar_ .side-nav-item:hover .icon.customers,
.sidebar_ .side-nav-item.active .icon.icon.customers {
    background: url("./icons/customers_hover.svg");
}

.sidebar_ .side-nav-item:hover .icon.stores,
.sidebar_ .side-nav-item.active .icon.stores {
    background: url("./icons/stores_hover.svg");
}

.sidebar_ .side-nav-item:hover .icon.account,
.sidebar_ .side-nav-item.active .icon.account {
    background: url("./icons/account_hover.svg");
}

.mainbar {
    width: calc(100% - 284px);
    height: 100vh;
    background: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
}

.mainbar-container {
    width: 80%;
    margin: 0.813rem 5.063rem;
    position: relative;
    /* padding-top: 13px; */
}

.half-container {
    height: 100%;
}

.full-width {
    /* width: 100%; */
    height: 100%;
    display: flex;
    align-items: stretch
}


/* top bar */

.topbar {
    /* padding: 22px 20px 12px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    position: relative;
    min-height: 50px;
    border-bottom: 1px solid #0000001D;
    padding: 1rem;
}

.topbar .page-anchor {
    width: 50px;
    height: 50px;
    background: url("./icons/menu.svg");
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    /* margin: 15px; */
    cursor: pointer;
    display: none;
}

.topbar .right-box {
    /* width: 464px; */
    height: 50px;
    /* background: #353535; */
    /* position: absolute;
    right: 0;
    top:22px; */
    display: flex;
}

.topbar .title {
    font-family: 'Inter', sans-serif;
    ;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    /* line-height: 84px; */
    color: #000000;
    /* margin-left: 22px; */
}

.right-box .download_btn {
    float: left;
}

.btn_ {
    display: inline-block;
    min-width: 196px;
    height: 50px;
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    text-transform: uppercase;
    padding: 0px 2rem;
    text-align: center;
    color: #FFFFFF;
    line-height: 50px;
    cursor: pointer;
}

.btn_orange {
    background: #C76400;
    border: none;
}

.btn_green {
    background: #029656;
}

.profile {
    float: left;
    display: flex;
    margin-left: 22px;
    align-items: center
}

.profile .avatar {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    background: #50106E;
}

.profile .profile-details {
    font-family: 'Inter', sans-serif;
    ;
    margin-left: 15px;
}

.profile .icon {
    width: 25px;
    height: 50px;
    cursor: pointer;
}

.icon.more {
    background: url("./icons/down.svg");
    background-size: 9px;
    background-repeat: no-repeat;
    background-position: center;
}

.profile .profile-details .username {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    color: #004751;
}

.profile .profile-details .email {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    color: #9FA1B3;
}

.section-title {
    width: 100%;
    /* background: #8D8DA4; */
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 66px;
    /* identical to box height, or 171% */
    font-family: 'Inter', sans-serif;
    color: #000000;
}


/* summary box */

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.summary_box {
    width: 223px;
    height: 110px;
    background: #F2F2F7;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 22px 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.summary_box .title {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    font-family: 'Inter', sans-serif;
    color: #8D8DA4;
}

.summary_box .value {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 24px;
    /* identical to box height, or 92% */
    color: #000000;
    margin-top: 14px;
}


/*Details box */

.details_box {
    box-sizing: border-box;
    padding: 22px 0px;
    overflow-x: auto;
}

.details_box .title {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    font-family: 'Inter', sans-serif;
    color: #8D8DA4;
}

.details_box .value {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 92% */
    color: #000000;
    margin-top: 14px;
}


/* pie chart */

#active-sector,
.recharts-pie-sector {
    z-index: 11 !important;
}

#tooltip {
    z-index: 1111 !important;
}

.recharts-pie-sector {}

.piechart_wrapper {
    width: 100%;
    height: auto;
    left: 365px;
    top: 326px;
    background: #F2F2F7;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    padding: 24px;
    margin-bottom: 25px;
}

.piechart {
    width: 200px;
    height: 169px;
}

.piechart_details {
    width: calc(100% - 169px);
    height: 169px;
    /* background: #004751; */
    padding: 10px;
}

.piechart_details_item {
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;
}

.piechart_details_item .piechart_color_icon {
    width: 12px;
    height: 12px;
    background: #ccc;
    margin: 6px;
}

.piechart_details_item .name {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #757688;
    margin-left: 3px;
}

.piechart_details_item .value {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #000000
}


/* filters */

.page-filter {
    width: 250px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 0;
    top: 13px;
}

.page-filter .button {
    width: 121px;
    height: 40px;
    background: #FCEAD8;
    border: 1px solid #C76400;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 6px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.page-filter .button .text {
    font-size: 14px;
}

.page-filter .button .icon {
    width: 16px;
    height: 7px;
    /* background: url("./icons/down.svg"); */
    margin-left: 5px;
    background: url("./icons/down.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition-duration: 1s;
}

.page-filter .button .icon.up {
    transform: rotate(180deg);
    transition-duration: 1s;
}

.page-filter-options {
    width: 121px;
    height: auto;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 6px;
    margin-top: 5px;
    padding: 0 8px;
    max-height: 180px;
    overflow-y: auto;
    transition-duration: 0.5s;
}

.page-filter-option {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    /* identical to box height, or 171% */
    color: #8D8DA4;
    padding: 2px 0;
    cursor: pointer;
    padding: 0 2px;
}

.page-filter-option:hover,
.page-filter-option.active {
    background: #FCEAD8;
}

.page-filter-options .page-filter-option:not(:last-child) {
    border-bottom: #00000020 solid 1px;
}

.sidetab-title-wrapper {
    width: 200px;
    /* padding-left: 71px; */
    padding-top: 34px;
}

.tab-title-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /*     padding: 20px 0; */
    margin: 20px 0;
}

.tab-title-wrapper.underline {
    border-bottom: 1px solid #00000088;
}

.tab-title-wrapper .page-title {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    font-family: 'Inter', sans-serif;
    margin-right: 23px;
    cursor: pointer;
    height: 33px;
}

.tab-title-wrapper .page-title.active {
    border-bottom: 2px solid #000000;
}

.sidetab-title-wrapper .page-title {
    width: 100%;
    height: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #979797;
    margin-bottom: 18px;
    cursor: pointer;
    display: flex;
    align-items: stretch;
}

.sidetab-title-wrapper .page-title .border-left {
    width: 3px;
    background: none;
    margin-right: 11px;
}

.sidetab-title-wrapper .page-title.active {
    color: #C76400;
}

.sidetab-title-wrapper .page-title.active .border-left {
    border: unset;
    border-left: 3px solid #C76400
}

.bar-chart-wrapper {
    width: 100%;
    height: 352px;
    font-family: 'Inter', sans-serif;
    background: #FEFEFF;
    background: #F2F2F7;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 6px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #25233A;
    mix-blend-mode: normal;
    opacity: 0.4;
}

.table-filters {
    display: flex;
    justify-content: flex-end;
    /* background: #ccc; */
    padding: 7px;
    align-items: center;
}

.table-status-filter,
.table-date-filter {
    font-size: 14px;
    margin-right: 13px;
}

.table-date-filter {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.table-date-filter .icon {
    width: 16px;
    height: 16px;
    background: url("./icons/calendar.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 5px;
}

.table-status-filter .button {
    width: 121px;
    height: 40px;
    background: #FCEAD8;
    border: 1px solid #C76400;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 6px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.table-status-filter .button .text {
    font-size: 14px;
}

.table-status-filter .button .icon {
    width: 16px;
    height: 7px;
    background-size: contain !Important;
    background-position: center;
    background-repeat: no-repeat !Important;
    margin-left: 5px;
    background: url("./icons/down.svg");
}


/* search box */

.search_wrapper {
    width: 284px;
    height: 50px;
    background: #F2F2F7;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    padding: 16px
}

.search_wrapper .icon.search {
    width: 16px;
    height: 16px;
    background: url("./icons/search.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 21px;
}

.search_wrapper .search_input {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 24px;
    border: none;
    background: none;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.select_ {
    width: 178px;
    height: 40px;
    left: 365px;
    top: 110px;
    background: #F2F2F7;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    color: #51545C;
}


/* table */

.table table {
    width: 100%;
}

.table thead {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.table thead td {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    padding: 12px;
    color: #757688;
}

.table tbody tr td {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    padding: 12px;
    color: #000000;
    border-bottom: 1px solid #0000001D;
}

.table tbody tr:nth-child(even) {
    background: #F2F2F7;
}


/* Authentication */

.auth_bg {
    width: 100%;
    height: 100vh;
    background: url("./images/bg_auth.png");
    background-size: cover;
    padding-top: calc(50vh - 284px);
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 6px;
}

.auth_form {
    width: 627px;
    height: 569px;
    background: #FEFEFF;
    -webkit-box-shadow: 1px 3px 1px -1px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 1px 3px 1px -1px rgba(0, 0, 0, 0.21);
    box-shadow: 1px 3px 1px -1px rgba(0, 0, 0, 0.21);
    margin: auto;
    font-family: 'Inter', sans-serif;
}

.auth_form_container {
    max-width: 406px;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 45px 0;
}

.auth_form_container .btn_ {
    width: 100%;
    margin-top: 40px !important;
}

.auth_form_container .logo {
    background: url("./icons//izifin.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
    margin: 0 auto 25px;
}

.auth_form_container .auth_title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */
    text-align: center;
    color: #353535;
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}

.auth_form_container .label {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    /* identical to box height, or 200% */
    font-family: 'Inter', sans-serif;
    color: #000000;
}

.auth_form_container .input_box {
    width: 100%;
    height: 54px;
    background: #FBFBFB;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.auth_form_container input {
    line-height: 40px;
    width: calc(100% - 45px);
    padding: 0 20px;
    text-decoration: none;
    border: none;
    margin: 6px;
    background: none;
    /* background: #ccc; */
}

.auth_form_container .more-info {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    font-family: 'Inter', sans-serif;
    color: #C76400;
    margin-top: 7px;
}

.auth_form_container .togglepassword {
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: #15AE73;
    line-height: 40px;
    width: 45px;
}

.auth_form_container .fieldset {
    margin-bottom: 20px;
}


/* Modals */

.modal_box {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(75, 84, 90, 0.42);
    z-index: 1111111111111111111111111111111111111111111111111111111;
}

.modal_inner {
    max-width: 584px;
    /* height: 614px; */
    position: absolute;
    /* left: calc(50% - 292px);
    top:calc(50% - 307px); */
    background: #FFFFFF;
    box-shadow: 0px 3px 20px 5px rgba(69, 104, 209, 0.1);
    border-radius: 8px;
}

.modal_close {
    width: 10.67px;
    height: 10.67px;
    position: absolute;
    right: 22.66px;
    top: 22.66px;
    background: url("./icons/cancel.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.add_staff_modal {
    padding: 4rem;
}

.add_staff_modal .title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.status-success {
    color: #00CD74;
}

.status-pending {
    color: #FF9500;
}

.status-failed {
    color: #FF0000;
}

.pagination-active {
    color: #C76400 !important;
}

.dropdown-group:hover .dropdown-group-hover\:block {
    display: block;
}

.dropdown-group-hover\:block {
    margin-left: calc(-1.75rem * calc(1 - var(--tw-space-x-reverse)));
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}


/* Challenge Page */

.toggle_container {
    width: 30px;
    height: 17px;
    background: #B7B9CC;
    border-radius: 100px;
    padding: 1px;
    position: relative;
    cursor: pointer;
}

.toggle_knob {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #FFFFFF;
    position: absolute;
    right: unset;
    left: 1px;
    transition-duration: 1s;
}

.toggle_container.active {
    background: #C76400;
}

.toggle_container.active .toggle_knob {
    right: 1px;
    left: unset;
    transition-duration: 1s;
    position: absolute;
}


/* Challenges  */

.challenge_box {
    max-width: 780px;
    width: 100%;
    height: auto;
    padding: 0 32px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 6px;
    justify-content: space-between;
}

.challenge_box_tr {
    min-height: 100px;
    display: flex;
    padding: 27px 0;
}

.challenge_box_tr:not(:last-child) {
    border-bottom: 1px solid #00000020;
}

.challenge_box_tr .title_box {
    width: calc(100% - 300px);
}

.challenge_box_tr .title_box .title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #353535;
}

.challenge_box_tr .title_box .subtitle {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #353535;
}

.challenge_box_td {
    min-width: 100px;
    display: flex;
    justify-content: start;
    flex-direction: row;
    padding-top: 9px;
}

.challenge_box_td .item_text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    padding-right: 10px;
    text-align: right;
    width: 150px;
    /*     background:#ccc; */
    /* background: #ccc; */
}

.challenge_box_td .item_action {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    /* identical to box height, or 200% */
    color: #029656;
    cursor: pointer;
}

.challenges_title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    /* identical to box height, or 200% */
    color: #000000;
}


/* On screens that are 600px or less, set the background color to olive */

@media screen and (max-width: 1300px) {
    .piechart {
        margin: auto;
    }
    .piechart_wrapper {
        display: block
    }
    .piechart_details {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .sidebar_ .close_menu_bar {
        width: 30px;
        height: 30px;
        background: url("./icons/close.svg");
        /* background: 000; */
        background-size: cover;
        position: absolute;
        right: 10px;
        top: 10px;
    }
    .sidebar_ {
        width: 284px;
        height: 100vh;
        left: 0px;
        top: 0px;
        background: #F2F2F7;
        padding: 31px 60px;
        font-family: 'Inter', sans-serif;
        position: absolute !important;
        z-index: 1111111111111111111111111111111111111111111111111111111111;
        left: 0;
        top: 0;
        display: none;
    }
    .topbar .page-anchor {
        display: block !important;
    }
    .topbar .title {
        display: none !important;
    }
    .download_button {
        display: none;
    }
    .show_sidebar {
        display: block;
    }
    .mainbar {
        width: 100%;
    }
    .summary_box {
        width: calc(50% - 20px);
        /* margin-right: 0;   */
    }
    .table-title {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .summary_box {
        width: 100%;
        margin-right: 0;
    }
    .download_button {
        display: none;
    }
    .topbar .right-box {
        /* width: 250px */
    }
    .mainbar-container {
        margin: 0.813rem 2.063rem;
    }
}